@model TaskManager.Models.Task

@{
    ViewData["Title"] = "Szczegóły zadania";
}

<h1>Szczegóły zadania</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edycja</a> |
    <a asp-action="Index">Powrót do listy zadań</a>
</div>
