@model IEnumerable<TaskManager.Models.Task>

@{
    ViewData["Title"] = "Lista zadań";
}

<h1>Lista zadań</h1>

<p>
    <a asp-action="Create">Dodaj nowe zadanie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDone)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-primary btn-sm" asp-route-id="@item.ID">Edycja</a> |
                <a asp-action="Details" class="btn btn-outline-secondary btn-sm" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-action="Delete" class="btn btn-outline-danger btn-sm" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
